# Ignore cestici, except hello.ts shortcode
cestici/*
!cestici/custom
cestici/custom/*
!cestici/custom/shortcodes
cestici/custom/shortcodes/*
!cestici/custom/shortcodes/hello.ts

dist/

node_modules/
TODO.md
v1/
